body {
    margin: 0;
}

header {
    background-color: gold;
    width: 750px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.content {
    display: flex;
    width: 750px;
    height: 350px;
  }

aside {
    background-color: aqua;
    width: 200px;
    height: 350px;
}

main {
    background-color: blanchedalmond;
    width: 550px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%;
}

table {
    width: 100%;
}

.button {
    text-align: right;
    margin: 10px;
}

footer {
    background-color: darkgray;
    width: 750px;
    height: 50px;
    overflow: hidden;
}